#dashboard-deporte .cross-horizontal {background-color: var(--color-acento-oscuro);}
#dashboard-deporte .cross-vertical {background-color: var(--color-acento-oscuro);}

#dashboard-deporte .rectangle-toggle {
    background-color: var(--color-acento);
}
#dashboard-deporte .ellipse-toggle {
    background-color: var(--color-fondo-secundario);
}
html {
    font-size: 0.65vw;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-fondo);
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FAFAFA;
}

#dashboard-deporte {
    position: absolute;
    min-height: 145rem;
    width: 100%;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#dashboard-deporte .rectangle-toggle {
    position: absolute;
    height: 7.5rem;
    width: 15.0rem;
    top: 21.6rem;
    left: 123.1rem;
    border-radius: 70px;
}
#dashboard-deporte .ellipse-toggle {
    position: absolute;
    height: 6.75rem;
    width: 6.75rem;
    left: 0.4rem;
    top: 0.35rem;
    border-radius: 90px;
}
#r8,#r10,#r12,#r14,#r16{position: absolute; left: 38.5rem;}
#r8{top: 59.4rem;}
#r10{top: 65.9rem;}
#r12{top: 72.4rem;}
#r14{top: 79rem;}
#r16{top: 85.4rem;}

#r7,#r9,#r11,#r13,#r15{position: absolute; left: 37.4rem;}
#r7{top: 60.5rem;}
#r9{top: 67rem;}
#r11{top: 73.5rem;}
#r13{top: 80.1rem;}
#r15{top: 86.5rem;}

#train-amount1, #train-amount2, #train-amount3, #train-amount4, #train-amount5 {position: absolute; left: 6.6rem; font-size: 1.4rem;}
#train-amount1 {top: 60.3rem;}
#train-amount2 {top: 66.8rem;}
#train-amount3 {top: 73.3rem;}
#train-amount4 {top: 79.7rem;}
#train-amount5 {top: 86.3rem;}

#train-text1, #train-text2, #train-text3, #train-text4, #train-text5 {position: absolute; left: 6.4rem; width: 14rem; font-size: 1.6rem;}
#train-text1 {top: 58.3rem;}
#train-text2 {top: 64.7rem;}
#train-text3 {top: 71.1rem;}
#train-text4 {top: 77.7rem;}
#train-text5 {top: 84.3rem;}
}
