<header class="header-minimal">
  <nav class="nav-container" role="navigation">

    <div class="logo-group">
      <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="logo-link">
        <img src="assets/images/aspas.svg" alt="Home" class="logo-image">
      </a>
    </div>

    <div class="links-group">
      <a class="nav-pill" routerLink="/dietas" routerLinkActive="active-link">Dietas</a>
      <a class="nav-pill" routerLink="/deporte" routerLinkActive="active-link">Deporte</a>
      <a class="nav-pill" routerLink="/explorador" routerLinkActive="active-link">Explorador</a>
      <a class="nav-pill" routerLink="/about-us" routerLinkActive="active-link">About Us</a>
    </div>

    <div class="login-group">
      <a routerLink="/login" routerLinkActive="active-link" class="login-button">Login</a>
    </div>

  </nav>
</header>
