@if (receta) {
  <div class="guia-dieta">
    <div
      class="hero-guia"
      [style.backgroundImage]="
        'linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(' + receta.image + ')'
      "
      style="background-size: cover; background-position: center"
    >
      <h1 class="text-96 text-white">{{ receta.name }}</h1>
      <p class="text-24-hero text-white">
        ⏱ {{ receta.duration }} min | 🔥 {{ receta.calories }} kcal
      </p>

      <div class="etiquetas-wrapper mt-3">
        @if (receta.allergies.includes('huevos')) {
          <span class="icono-alergeno material-symbols-outlined" data-tooltip="Contiene Huevos"
            >egg</span
          >
        }

        @if (receta.allergies.includes('lacteos')) {
          <span class="icono-alergeno material-symbols-outlined" data-tooltip="Contiene Lacteos"
            >local_drink</span
          >
        }

        @if (receta.allergies.includes('gluten')) {
          <span class="icono-alergeno material-symbols-outlined" data-tooltip="Contiene Gluten"
            >bakery_dining</span
          >
        }
      </div>
    </div>

    <div class="contenedor-columnas">
      <div class="columna">
        <h2 class="text-40">Ingredientes</h2>
        <ul class="lista-columna">
          @for (ingrediente of receta.ingredients; track ingrediente) {
            <li>
              {{ ingrediente }}
            </li>
          }
        </ul>
      </div>

      <div class="columna">
        <h2 class="text-40">Macros</h2>
        <ul class="lista-columna">
          <li><strong>Proteínas:</strong>&nbsp;{{ receta.macros[0] }}g</li>
          <li><strong>Grasas:</strong>&nbsp;{{ receta.macros[1] }}g</li>
          <li><strong>Carbohidratos:</strong>&nbsp;{{ receta.macros[2] }}g</li>
        </ul>
      </div>
    </div>

    <div class="bloque-inferior">
      <h2 class="text-40 text-center mb-4">Preparación</h2>
      <div class="text-24-largo" style="white-space: pre-wrap">{{ receta.instructions }}</div>

      <div class="text-center mt-5">
        @if (!hasRecipe) {
          <button class="btn-primario shadow-lg" (click)="guardar()">
            Añadir plato al dashboard
          </button>
        } @else {
          <button class="btn-primario shadow-lg" (click)="eliminar()">
            Eliminar plato del dashboard
          </button>
        }
        <br /><br />
        <a href="#" (click)="volverAtras($event)" class="text-muted text-decoration-none"
          >← Volver al plan</a
        >
      </div>
    </div>
  </div>
}
