<header class="header-minimal">
  <nav class="nav-container" role="navigation">

    <div class="logo-group">
      <a routerLink="" class="logo-link">
        <img src="/shared/images/home.svg" alt="Home" class="logo-image">
      </a>
    </div>

    <div class="links-group">
      <a class="nav-pill" routerLink="/dietas" >Dietas</a>
      <a class="nav-pill" routerLink="/deporte">Deporte</a>
      <a class="nav-pill" routerLink="/explorador">Explorador</a>
      <a class="nav-pill" routerLink="/about-us">About Us</a>
    </div>

    <div class="login-group">
      @if (isLoggedIn$ | async) {
        <img src="/shared/images/profile-icon.svg" class="profile-icon" alt="Profile Icon">
      } @else {
        <a routerLink="/login" class="login-button">Log In</a>
        <a routerLink="/signup" class="signup-button">Sign Up</a>
      }
      
    </div>  

  </nav>
</header>
