:root {
  --color-fondo: #fafafa; /* Blanco roto/crema para el fondo */
  --color-fondo-secundario: #a8f0d8;
  --color-acento: #10b981; /* color esmeralda  */
  --color-acento-secundario: #6eb59e;
  --color-acento-oscuro: #059669;
  --color-texto: #1f2937; /* Gris carbón para texto principal */
  --color-texto-suave: #4b5563; /* Gris medio para descripciones */
  --color-texto-color: #00120c;
  --sombra-suave: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.05);
  --sombra-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

.dashboard-dieta {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.left-container {
  height: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.main-content-left,
.main-content-right {
  min-height: 400px;
  padding: 20px;
  width: 100%;
  border-radius: 25px;
  box-shadow: var(--sombra-suave);
  background-color: var(--color-fondo);
}

.main-content-right {
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-arrow-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: #10b9818c transparent;
}

.main-content-left {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.section-title {
  height: 50px;
  margin: 0;
}

.right-container {
  height: auto;
  width: 30%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.rectangle-toggle {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  min-height: 50px;
  width: 100px;
  background-color: #10b981;
  border-radius: 50px;
  cursor: pointer;
}

.ellipse-toggle {
  border-radius: 90px;
  height: 40px;
  width: 40px;
  background-color: #a8f0d8;
  z-index: 10;
  margin-right: 5px;
}

.diet-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  flex-grow: 1;
}

.diet-moment {
  font-size: 18px;
  color: grey;
  margin-bottom: 5px;
}

.diet-item {
  display: flex;
  min-height: 45px;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  margin: 5px 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  border-bottom: 1px solid #76878236;
  transition: 0.3s;
}

.diet-item:hover {
  background-color: #a8f0d877;
  cursor: pointer;
}

.diet-title {
  width: 50%;
  text-wrap: pretty;
  padding: 15px 0;
}

.diet-value span {
  color: #059669;
}

.diet-img {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.diet-img img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.left-graph {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.progress-circle {
  margin: 20px;
  --progress: calc((var(--current) / var(--max)) * 100%);

  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: conic-gradient(#10b981 var(--progress), #a8f0d8 0deg);

  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: var(--sombra-suave);
}

.progress-circle:before {
  content: '';
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: white;
}

.progress-text-current {
  z-index: 1;
  font-size: 45px;
  font-weight: bold;
}

.progress-text-max {
  z-index: 1;
  font-size: 25px;
  color: gray;
}

.calories-icon {
  z-index: 1;
  font-size: 35px;
}

.water-fiber {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

.water,
.fiber {
  width: fit-content;
}

.water h3,
.fiber h3 {
  font-size: 25px;
}

.water p,
.fiber p {
  font-size: 20px;
  text-align: center;
}

.right-macros {
  width: 40%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 20px;
}

.macro-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: var(--sombra-suave);
}

.macro-title {
  width: fit-content;
  align-self: center;
  font-weight: bold;
}

.macro-progress {
  width: 70%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.macro-progress span {
  align-self: center;
}

.macro-progress-bar {
  --progress: calc((var(--current) / var(--max)) * 100%);

  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #10b981 var(--progress), #a8f0d8 var(--progress));
  border-radius: 12px;
}

.empty {
  color: grey;
  flex-grow: 1;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.view-full-plan {
  margin: 5px;
  background-color: white;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #059669;
  color: #059669;
  box-shadow: var(--sombra-suave);
  transition: 0.3s;
}

.view-full-plan:hover {
  background-color: #059669;
  color: white;
  box-shadow:
    0 0 20px 0 #05966836,
    0 0 20px 0 #05966836;
  translate: translateY(-5px);
}
