<section class="plan-dietas"> <div class="mb-4" style="padding-left: 20px;">
  <a routerLink="/deporte" class="btn-volver" style="display: inline-flex; align-items: center; gap: 8px; color: var(--color-texto-suave); text-decoration: none; font-weight: 600; transition: color 0.3s;">
    <span class="material-symbols-outlined">arrow_back</span>
    Volver a disciplinas
  </a>
</div>

  <div class="hero-section">
    <h1 class="text-96">Plan de Entrenamiento</h1>
    <p class="text-24-hero">Supera tus límites cada día</p>
  </div>

  <div class="filtros-contenedor">
    <button class="btn-filtro-deporte active">Todos</button>
    <button class="btn-filtro-deporte">Fuerza</button>
    <button class="btn-filtro-deporte">Cardio</button>
    <button class="btn-filtro-deporte">Sin Material</button>
  </div>

  <div class="seccion-comida" *ngFor="let categoria of categoriasDeporte">
    <h2 class="text-48">{{ categoria.titulo }}</h2>

    <div class="wrapper-carrusel">

      <div class="grid-3-cuadros">

        <div class="contenedor-item" *ngFor="let ejercicio of getEjerciciosVisibles(categoria)">
          <div class="cuadro-gris"
               [style.backgroundImage]="'url(' + ejercicio.img + ')'"
               [routerLink]="['/deporte/ejercicio', ejercicio.id]">

            <div class="texto-interior">{{ ejercicio.nombre }}</div>

          </div>
        </div>

      </div>

      <div class="controles-carrusel">
        <button class="btn-nav" (click)="mover(-1, categoria)">
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <button class="btn-nav" (click)="mover(1, categoria)">
          <span class="material-symbols-outlined">arrow_forward</span>
        </button>
      </div>

    </div>
  </div>

</section>
