<div class="plan-dietas">

  <button class="btn-volver" routerLink="/dietas" style="border:none; background:none; cursor:pointer;">
    <span class="material-symbols-outlined">arrow_back</span> Volver a Dietas
  </button>

  <header class="hero-section">
    <h1 class="text-96">Tu Plan Semanal</h1>
    <p class="text-24-hero">Comidas equilibradas diseñadas para tus objetivos.</p>
  </header>

  <div *ngIf="categoriasDieta.length === 0" class="text-center py-5">
    <div class="spinner-border" style="color: #10B981;" role="status"></div>
    <p class="mt-2 text-muted">Buscando el plan {{ dietaId }}...</p>
  </div>

  <div *ngFor="let categoria of categoriasDieta" class="seccion-comida">

    <div class="d-flex justify-content-between align-items-end mb-4">
      <h2 class="text-48">{{ categoria.titulo }}</h2>

      <div class="controles-carrusel" *ngIf="categoria.platos?.length > 3">
        <button class="btn-nav" (click)="mover(-1, categoria)">
          <span class="material-symbols-outlined">chevron_left</span>
        </button>
        <button class="btn-nav" (click)="mover(1, categoria)">
          <span class="material-symbols-outlined">chevron_right</span>
        </button>
      </div>
    </div>

    <div class="wrapper-carrusel">
      <div class="grid-3-cuadros">
        <div class="contenedor-item" *ngFor="let plato of getPlatosVisibles(categoria)">
          <div class="cuadro-gris"
               [style.backgroundImage]="'url(' + plato.img + ')'"
               [routerLink]="['/dietas/receta', plato.id]">
            <div class="texto-interior">{{ plato.nombre }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
