@if (deporteData) {
  <div class="dashboard-deporte">
    <section class="left-container">
      <h1 class="section-title">
        {{ dashboardTitle }}
      </h1>
      <div class="main-content-left">
        <div class="top-graph">
          @for (item of this.deporteData.week; track item.dia) {
            <div class="bar-element">
              <div class="day-bar" [style.--current]="item.valor"></div>
              <h3>{{ item.dia }}</h3>
              <p>{{ item.valor }}%</p>
            </div>
          }
        </div>
        <div class="bottom-metrics">
          <div class="activity-item">
            <div class="activity-title">
              <span>Calorías</span>
            </div>
            <div class="activity-progress">
              <span>{{ this.deporteData.calories }} kcal </span>
            </div>
          </div>
          <div class="activity-item">
            <div class="activity-title">
              <span>Tiempo</span>
            </div>
            <div class="activity-progress">
              <span>{{ this.deporteData.time }} min </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="right-container">
      <div class="rectangle-toggle" (click)="toggleToDieta()">
        <div class="ellipse-toggle"></div>
      </div>
      <div class="main-content-right">
        <div class="training-list">
          @for (level of this.NIVELES; track level) {
            @if (dailyPlanByLevel[level].length != 0) {
              <h4 class="training-level">{{ level }}</h4>
              @for (item of this.dailyPlanByLevel[level]; track item) {
                <div class="training-item" [routerLink]="['/deportes/guia', item.id]">
                  <div class="training-img">
                    <img [src]="item.image" alt="" />
                  </div>
                  <div class="training-title">
                    <span>{{ item.name }}</span>
                  </div>
                  <div class="training-value">
                    <span>{{ item.duration }} min</span>
                  </div>
                </div>
              } @empty {
                <div class="empty">No hay datos disponibles</div>
              }
            }
          }
        </div>

        <button (click)="verPlanCompleto()" class="view-full-plan">Ver todos tus ejercicios</button>
      </div>
    </section>
  </div>
}
