@if (loading) {
  <div class="loading-container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h2>Calculando tu rutina de hoy...</h2>
  </div>
} @else if (error) {
  <div class="error-container" style="display: flex; justify-content: center; align-items: center; height: 100vh; color: #ef4444;">
    <h2>{{ error }}</h2>
  </div>
} @else if (deporteData) {
  <div class="dashboard-deporte">
    <section class="left-container">
      <h1 class="section-title">
        {{ dashboardTitle }}
      </h1>
      <div class="main-content-left">
        <div class="top-graph">
          @for (item of this.deporteData.week; track item.dia) {
            <div class="bar-element">
              <div class="day-bar" [style.--current]="item.valor"></div>
              <h3>{{ item.dia }}</h3>
              <p>{{ item.valor }}%</p>
            </div>
          }
        </div>
        <div class="bottom-metrics">
          <div class="activity-item">
            <div class="activity-title">
              <span>Calorías</span>
            </div>
            <div class="activity-progress">
              <span>{{ this.deporteData.calories }} kcal </span>
            </div>
          </div>
          <div class="activity-item">
            <div class="activity-title">
              <span>Tiempo</span>
            </div>
            <div class="activity-progress">
              <span>{{ this.deporteData.time }} min </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="right-container">
      <div class="toggles">
        <div class="rectangle-toggle" (click)="toggleToDieta()">
          <div class="ellipse-toggle">
            <fa-icon [icon]="faRunning" style="color: rgb(249 115 22)"></fa-icon>
          </div>
        </div>
        <div class="deporte-toggle" (click)="goToDeporte()">
          <p class="add">Añadir</p>
        </div>
      </div>
      <div class="main-content-right">
        <div class="training-list">
          @for (level of this.NIVELES; track level) {
            @if (dailyPlanByLevel[level].length != 0) {
              <h4 class="training-level">{{ level }}</h4>
              @for (item of this.dailyPlanByLevel[level]; track item) {
                <div class="training-item">
                  <div class="training-img" [routerLink]="['/deportes/guia', item.id]">
                    <img [src]="item.image" alt="" />
                  </div>
                  <div class="training-title">
                    <span>{{ item.name }}</span>
                  </div>
                  <div class="training-value">
                    <span>{{ item.duration }} min</span>
                  </div>
                  @if (inList(item.id)) {
                    <div class="save-exercise" (click)="eliminar(item.id)">
                      <fa-icon [icon]="faBookmark" style="color: #f97316" />
                    </div>
                  } @else {
                    <div class="save-exercise" (click)="guardar(item)">
                      <fa-icon [icon]="faBookmark" style="color: #f0c1a8" />
                    </div>
                  }
                </div>
              } @empty {
                <div class="empty">No hay datos disponibles</div>
              }
            }
          }
        </div>

        <button (click)="verPlanCompleto()" class="view-full-plan">Ver todos tus ejercicios</button>
      </div>
    </section>
  </div>
}
