:root {
  --color-fondo: #fafafa; /* Blanco roto/crema para el fondo */
  --color-fondo-secundario: #f0c1a8;
  --color-acento: #f97316; /* color esmeralda  */
  --color-acento-secundario: #d18f6b;
  --color-acento-oscuro: #ea580c;
  --color-texto: #1f2937; /* Gris carbón para texto principal */
  --color-texto-suave: #4b5563; /* Gris medio para descripciones */
  --color-texto-color: #140700;
  --sombra-suave: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.05);
  --sombra-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

.dashboard-deporte {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.left-container {
  height: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.main-content-left,
.main-content-right {
  min-height: 400px;
  padding: 20px;
  width: 100%;
  border-radius: 25px;
  box-shadow: var(--sombra-suave);
  background-color: var(--color-fondo);
}

.main-content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  flex-grow: 1;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-arrow-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: #10b9818c transparent;
}

.main-content-left {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.section-title {
  height: 50px;
  margin: 0;
}

.right-container {
  height: auto;
  width: 30%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.rectangle-toggle {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  min-height: 50px;
  width: 100px;
  background-color: #f97316;
  border-radius: 50px;
  cursor: pointer;
}

.ellipse-toggle {
  border-radius: 90px;
  height: 40px;
  width: 40px;
  background-color: #f0c1a8;
  z-index: 10;
  margin-left: 5px;
}

.training-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.training-level {
  font-size: 18px;
  color: grey;
  margin-bottom: 5px;
}

.training-item {
  display: flex;
  min-height: 45px;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  margin: 5px 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  border-bottom: 1px solid #76878236;
  transition: 0.3s;
}

.training-item:hover {
  background-color: #f0c1a87c;
  cursor: pointer;
}

.training-title {
  width: 50%;
  text-wrap: pretty;
  padding: 15px 0;
}

.training-img {
  min-height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.training-img img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 12px;
}

.training-value {
  color: #ea580c;
}

.graph-title {
  width: 70%;
  text-align: left;
  font-size: 20px;
}

.top-graph {
  min-height: 300px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.bar-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-element h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}

.bar-element p {
  margin: 0;
  font-size: 15px;
  color: #f0c1a8;
}

.day-bar {
  --progress: calc((var(--current) / 100) * 100%);
  height: 100%;
  width: 20px;
  border-radius: 12px;
  background: linear-gradient(to top, #f97316 var(--progress), #f0c1a8 var(--progress));
}

.bottom-metrics {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.activity-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: var(--sombra-suave);
}

.activity-title {
  width: fit-content;
  align-self: center;
  font-weight: bold;
}

.activity-progress {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.new-activity {
  margin-top: 20px;
  background-color: #ea580c;
  border: none;
  padding: 12px;
  border-radius: 25px;
  color: white;
  box-shadow: var(--sombra-suave);
}

.new-activity:hover {
  background-color: #f97316;
}

.empty {
  color: grey;
  flex-grow: 1;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.view-full-plan {
  background-color: white;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ea580c;
  color: #ea580c;
  box-shadow: var(--sombra-suave);
  transition: 0.3s;
}

.view-full-plan:hover {
  background-color: #ea580c;
  color: white;
  box-shadow:
    0 0 20px 0 #ea5a0c46,
    0 0 20px 0 #ea5a0c46;
  translate: translateY(-5px);
}
